.ib-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    p {
        font-size: 12px;
        padding-bottom: 15px;
        color: rgba(255, 255, 255, 0.5);
        a {
            color: $primary-color;
            font-weight: 700; 
          
            padding: 0 3px;             
            position: relative;
            &:before{
                @include ib-before-after;
                background-color: $white;
                background-position: center left;
                background-repeat: no-repeat;
                @include ib-transition;
                width: 0;
                z-index: -1;
            }
            &:hover{
                &:before{
                    width: 100%;
                    
                }
            }      
        }
    }
}