.ib-coming-soon {
    height: 100vh;
    overflow: hidden;
    position: relative;
    &:before {
        @include ib-before-after;
        background-color: rgba(255, 255, 255, 0.1);
        width: 590px;
        opacity: 0.19;
        left: auto;
        height: 100%;
        z-index: 0;
        transform: skew(-22deg, 0deg);
        right: 300px;
        @include media-breakpoint-down-xxxl {
            width: 400px;
        }
        @include media-breakpoint-down-xl {
            width: 300px;
            right: 200px;
        }
        @include media-breakpoint-down(md) {
            width: 190px;
            right: 150px;
        }
    }
   
    
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index:1;
    }
    h1 {
        font-size: 80px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 2px;
        line-height: 85px;
        @include media-breakpoint-down-xxxl {
            font-size: 70px;
            line-height: 75px;
        }
        @include media-breakpoint-down-xl {
            font-size: 60px;
            line-height: 65px;
        }
        @include media-breakpoint-down(md) {
            font-size: 50px;
            line-height: 55px;
            letter-spacing: 0px;
        }
        @include media-breakpoint-down(xs) {
            font-size: 40px;
            line-height: 45px;
        }
        .letter {
            transition: transform 0.3s ease-in-out;
            -webkit-transition: transform 0.3s ease-in-out;
            -moz-transition: transform 0.3s ease-in-out;
            -o-transition: transform 0.3s ease-in-out;
            transform-origin: 50% 70%;
            will-change: transform;
            transform: matrix(1, 0, 0, 1, 0, 0);
            cursor: none;
            &:hover {
                transform: matrix(1.222, 0, 0, 1.222, 0, 0);
            }
        }
    }
    p {
        font-size: 14px;
        font-weight: 300;
        text-align: right;
        animation: ib-text 6s ease-in-out forwards;
        -webkit-animation: ib-text 6s ease-in-out forwards;
        animation-delay: 2s;
        opacity: 0;
        @include media-breakpoint-down(sm) {
            text-align: center;
            font-size: 13px;
        }
        @include media-breakpoint-down(xs) {
            font-size: 12px;
        }
        @keyframes ib-text {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @-webkit-keyframes ib-text {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    h2 {
        font-size: 280px;
        font-weight: 700;
        position: absolute;
        left: 130px;
        top: 80px;
        word-break: break-word;
        line-height: 250px;
        opacity: 0.05;
        @include media-breakpoint-down-xxxl {
            font-size: 220px;
            line-height: 200px;
        }
        @include media-breakpoint-down-xl {
            font-size: 190px;
            line-height: 170px;
            top: 70px;
        }
        @include media-breakpoint-down(lg) {
            font-size: 170px;
            line-height: 140px;
        }
        @include media-breakpoint-down(md) {
            font-size: 140px;
            line-height: 130px;
            top: 150px;
            left: 80px;
        }
        @include media-breakpoint-down(xs) {
            font-size: 100px;
            line-height: 90px;
            top: 100px;
            left: 20px;
        }
       
    }
    h3 {
        font-weight: 200;
        font-size: 340px;
        position: absolute;
        bottom: -110px;
        left: 0;
        right: 0;
        opacity: 0.03;
        line-height: 340px;
        white-space: nowrap;
        text-align: center;
        @include media-breakpoint-down-xxxl {
            font-size: 290px;
            line-height: 290px;
        }
        @include media-breakpoint-down-xxl {
            font-size: 250px;
            line-height: 320px;
        }
        @include media-breakpoint-down-xl {
            font-size: 220px;
        }
        @include media-breakpoint-down(lg) {
            font-size: 180px;
        }
        @include media-breakpoint-down(md) {
            font-size: 140px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 105px;
            line-height: 280px;
        }
        @include media-breakpoint-down(xs) {
            font-size: 53px;
            line-height: 260px;
            font-weight: 700;
        }
    }
}

.ib-bg {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.png);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    canvas {
        width: 100%;
        height: 100%;
    }
}


.ib-loader{
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 999;
    overflow: hidden;
    width: 100vw;
    height: 100vh;  
    flex-direction: column;   
    justify-content: center;  
    align-items: center;
    background-color: $black;
    transition: height 2s ease;
    i{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate3d(0,0,0);
        animation: ib-loader-logo 1s forwards ease-in-out;
        -webkit-animation: ib-loader-logo 1s forwards ease-in-out;
        animation-delay: 0.2s;
       @keyframes ib-loader-logo {
           0%{
               transform: translate3d(0,0,0);
           }
           100%{
               transform: translate3d(0,-100px,0);
           }   
                   
       }
       @-webkit-keyframes ib-loader-logo {
            0%{
                transform: translate3d(0,0,0);
            }
            100%{
                transform: translate3d(0,-100px,0);
            }   
        }
        img{
            width: 150px;           
        }
    }
}