<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Ishita Bhuva</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157715503-1"></script> -->
    <script>
    // window.dataLayer = window.dataLayer || [];
    // function gtag(){dataLayer.push(arguments);}
    // gtag('js', new Date());

    // gtag('config', 'UA-157715503-1');
    </script>

    <% include /src/include/styles.ejs %>

</head>

<body>
    <% include /src/include/header.ejs %>

        <main class="ib-coming-soon">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="ib-coming-text">Ish!ta Bhuva</h1>
                        <p>Designing is a way of the new creativity</p>
                    </div>
                </div>
            </div>
            <div class="ib-dot-shape"></div>
            <div class="ib-ring-shape">
                <i class="ib-ring-left"></i>
                <i class="ib-ring-right"></i>
            </div>
            <div class="ib-line-shape">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h2>DESI<br>GNER</h2>
            <h3>Ish!ta Bhuva</h3>
            <div class='cursor' id="cursor"></div>
            <div class='cursor2' id="cursor2"></div>
            <div class='cursor3' id="cursor3"></div>
        </main>


        <% include /src/include/footer.ejs %>

            <% include /src/include/scripts.ejs %>
                <script>
                    var textWrapper = document.querySelector('.ib-coming-text');
                    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

                    anime.timeline({
                            loop: false
                        })
                        .add({
                            targets: '.ib-coming-text .letter',
                            opacity: [0, 1],
                            easing: "easeInOutQuad",
                            duration: 2250,
                            delay: (el, i) => 150 * (i + 1)
                        }).add({
                            targets: '.ib-coming-text',
                            opacity: 1,
                            duration: 1000,
                            easing: "easeOutExpo",
                            delay: 1000
                        });
                </script>
                <script>
                    var textWrapper = document.querySelector('.ib-me-text');
                    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

                    anime.timeline({
                            loop: false
                        })
                        .add({
                            targets: '.ib-me-text .letter',
                            opacity: [0, 1],
                            easing: "easeInOutQuad",
                            duration: 2250,
                            delay: (el, i) => 150 * (i + 1)
                        }).add({
                            targets: '.ib-me-text',
                            opacity: 1,
                            duration: 1000,
                            easing: "easeOutExpo",
                            delay: 1000
                        });
                </script>

</body>

</html>