<footer class="ib-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>Copyright ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Design by <a href="https://www.linkedin.com/in/ishita-bhuva-788222103" target="_blank" class="ib-me-text">ME</a> </p>
            </div>

        </div>
    </div>
</footer>