<header class="ib-header">
    <nav class="navbar navbar-expand-md p-0">
        <a class="navbar-brand" href="index.html">
            <img class="mb-2 lms-header-logo" src="images/logo.svg" alt="">
        </a>
        <div class="ib-contact-link">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/ishita-bhuva-788222103" target="_blank">
                        <i>
                            <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Apple-TV" transform="translate(-1745.000000, -68.000000)" fill-rule="nonzero">
                                        <g id="Group-4" transform="translate(1745.000000, 68.000000)">
                                            <g id="linkedin">
                                                <path d="M12.5,0 C5.59749604,0 0,5.59749604 0,12.5 C0,19.402504 5.59749604,25 12.5,25 C19.402504,25 25,19.402504 25,12.5 C25,5.59749604 19.402504,0 12.5,0 Z M8.86764526,18.8964844 L5.82332612,18.8964844 L5.82332612,9.73758696 L8.86764526,9.73758696 L8.86764526,18.8964844 Z M7.34558105,8.48693848 L7.32574463,8.48693848 C6.3041687,8.48693848 5.64346313,7.78369902 5.64346313,6.90479277 C5.64346313,6.0060501 6.32438662,5.32226562 7.36579893,5.32226562 C8.40721133,5.32226562 9.04808047,6.0060501 9.06791689,6.90479277 C9.06791689,7.78369902 8.40721133,8.48693848 7.34558105,8.48693848 Z M19.8448181,18.8964844 L16.8008804,18.8964844 L16.8008804,13.9966965 C16.8008804,12.7653122 16.3600922,11.9255066 15.2585983,11.9255066 C14.4176483,11.9255066 13.9167786,12.4919892 13.6966705,13.038826 C13.6161804,13.23452 13.5965347,13.5080337 13.5965347,13.7817383 L13.5965347,18.8964844 L10.5524063,18.8964844 C10.5524063,18.8964844 10.5922699,10.5968476 10.5524063,9.73758696 L13.5965347,9.73758696 L13.5965347,11.0343933 C14.0010834,10.4103088 14.7249222,9.52262881 16.340065,9.52262881 C18.3429718,9.52262881 19.8448181,10.8316421 19.8448181,13.6447906 L19.8448181,18.8964844 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </i>
                    </a>
                </li>
                <li class="d-none2">
                    <a href="skype:live:19423891133615f2?chat" target="_blank">
                        <i>
                            <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Apple-TV" transform="translate(-1790.000000, -68.000000)"  fill-rule="nonzero">
                                        <g id="Group-4" transform="translate(1745.000000, 68.000000)">
                                            <g id="skype" transform="translate(45.000000, 0.000000)">
                                                <path d="M13.8885498,11.6094589 L12.1696472,11.2279892 C11.5158081,11.0790253 10.7631684,10.8821869 10.7631684,10.2657318 C10.7631684,9.6479416 11.2911225,9.21630859 12.2442246,9.21630859 C14.1651153,9.21630859 13.9896393,10.5363846 14.9433136,10.5363846 C15.445137,10.5363846 15.8843994,10.2413178 15.8843994,9.73396299 C15.8843994,8.55007173 13.9896393,7.66162871 12.3823166,7.66162871 C10.6374741,7.66162871 8.77933501,8.40263369 8.77933501,10.3761673 C8.77933501,11.3265991 9.11884307,12.3376846 10.9891892,12.8067017 L13.3115769,13.3865356 C14.0144348,13.5597229 14.1902924,13.9551163 14.1902924,14.3117905 C14.1902924,14.9049759 13.6011124,15.4844284 12.5337601,15.4844284 C10.4488373,15.4844284 10.7381821,13.8799667 9.62085723,13.8799667 C9.11884307,13.8799667 8.7545395,14.225769 8.7545395,14.7192001 C8.7545395,15.6812668 9.9225998,16.9651031 12.5337601,16.9651031 C15.0180816,16.9651031 16.2490845,15.7676697 16.2490845,14.1639709 C16.2490845,13.1284714 15.7716751,12.0290756 13.8885498,11.6094589 L13.8885498,11.6094589 Z" id="Path"></path>
                                                <path d="M12.5,0 C5.59749604,0 0,5.59749604 0,12.5 C0,19.402504 5.59749604,25 12.5,25 C19.402504,25 25,19.402504 25,12.5 C25,5.59749604 19.402504,0 12.5,0 Z M19.0080643,18.989563 C18.1861877,19.811821 17.0940399,20.2636719 15.9320831,20.2636719 C15.1794434,20.2636719 14.4424438,20.0679779 13.7914658,19.6996689 C13.368988,19.7746277 12.9362106,19.8141098 12.5043869,19.8141098 C11.5121841,19.8141098 10.5493545,19.6195603 9.64355469,19.2356109 C8.7677002,18.8663482 7.98206328,18.3359146 7.30667114,17.6609039 C6.63204194,16.986084 6.10218047,16.2004471 5.73234561,15.3249741 C5.34858701,14.418602 5.15441895,13.4563446 5.15441895,12.4639511 C5.15441895,12.0389938 5.19256592,11.6134644 5.26504517,11.1970901 C4.90779878,10.5545044 4.71763613,9.8274231 4.71763613,9.08756255 C4.71763613,7.92541504 5.17044067,6.83269502 5.99193574,6.01100923 C6.81381226,5.18894194 7.90653228,4.73632812 9.06867979,4.73632812 C9.78050234,4.73632812 10.4839325,4.91390229 11.1091614,5.24635312 C11.1103058,5.2461624 11.1116409,5.2461624 11.1125946,5.24578096 C11.5684509,5.15842437 12.036705,5.11436465 12.5043869,5.11436465 C13.4963989,5.11436465 14.4590378,5.30872344 15.3648376,5.69190977 C16.2397385,6.06212617 17.0263291,6.5919876 17.7007675,7.26680757 C18.3761597,7.94181826 18.9058304,8.72783662 19.2760468,9.6031189 C19.6598053,10.5093002 19.8539734,11.4717483 19.8539734,12.4639511 C19.8539734,12.9112244 19.811821,13.3588791 19.7315216,13.7962341 C20.0912476,14.4412994 20.2825546,15.1708603 20.2825546,15.9132004 C20.2823639,17.0753479 19.8301315,18.1682587 19.0080643,18.989563 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </i>
                    </a>

                </li>
                <li>
                    <a href="https://www.instagram.com/_ishi.patel_/" target="_blank">
                        <i>
                            <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Apple-TV" transform="translate(-1835.000000, -68.000000)" fill-rule="nonzero">
                                        <g id="Group-4" transform="translate(1745.000000, 68.000000)">
                                            <g id="instagram-(2)" transform="translate(90.000000, 0.000000)">
                                                <path d="M14.8925781,12.5 C14.8925781,13.8214111 13.8214111,14.8925781 12.5,14.8925781 C11.1785889,14.8925781 10.1074219,13.8214111 10.1074219,12.5 C10.1074219,11.1785889 11.1785889,10.1074219 12.5,10.1074219 C13.8214111,10.1074219 14.8925781,11.1785889 14.8925781,12.5 Z" id="Path"></path>
                                                <path d="M18.0953979,8.26683047 C17.9803848,7.95516968 17.7968979,7.6730728 17.5584793,7.4415207 C17.3269272,7.2031021 17.045021,7.01961519 16.7331695,6.90460205 C16.4802551,6.80637358 16.1003113,6.68945312 15.4005051,6.65760039 C14.6434784,6.62307739 14.4165039,6.61563872 12.5,6.61563872 C10.5833054,6.61563872 10.3563309,6.62288667 9.59949492,6.65740967 C8.89968872,6.68945312 8.51955415,6.80637358 8.26683047,6.90460205 C7.95497896,7.01961519 7.67288208,7.2031021 7.4415207,7.4415207 C7.2031021,7.6730728 7.01961519,7.95497896 6.90441133,8.26683047 C6.80618286,8.51974487 6.6892624,8.89987944 6.65740967,9.59968564 C6.62288667,10.3565216 6.615448,10.5834961 6.615448,12.5001907 C6.615448,14.4166946 6.62288667,14.6436691 6.65740967,15.4006958 C6.6892624,16.100502 6.80618286,16.4804458 6.90441133,16.7333603 C7.01961519,17.0452118 7.20291138,17.3271179 7.44132998,17.55867 C7.67288208,17.7970886 7.95478818,17.9805756 8.2666397,18.0955887 C8.51955415,18.1940079 8.89968872,18.3109283 9.59949492,18.3427811 C10.3563309,18.3773041 10.5831146,18.384552 12.4998093,18.384552 C14.4166946,18.384552 14.6436691,18.3773041 15.4003144,18.3427811 C16.1001206,18.3109283 16.4802551,18.1940079 16.7331695,18.0955887 C17.3591614,17.8541184 17.8539276,17.3593521 18.0953979,16.7333603 C18.1936264,16.4804458 18.3105469,16.100502 18.3425903,15.4006958 C18.3771133,14.6436691 18.3843613,14.4166946 18.3843613,12.5001907 C18.3843613,10.5834961 18.3771133,10.3565216 18.3425903,9.59968564 C18.3107376,8.89987944 18.1938171,8.51974487 18.0953979,8.26683047 L18.0953979,8.26683047 Z M12.5,16.1857605 C10.4642868,16.1857605 8.81404878,14.5357132 8.81404878,12.5 C8.81404878,10.4642868 10.4642868,8.8142395 12.5,8.8142395 C14.5355225,8.8142395 16.1857605,10.4642868 16.1857605,12.5 C16.1857605,14.5357132 14.5355225,16.1857605 12.5,16.1857605 Z M16.3314819,9.52987671 C15.8557892,9.52987671 15.4701233,9.14421084 15.4701233,8.66851807 C15.4701233,8.19282529 15.8557892,7.80715942 16.3314819,7.80715942 C16.8071747,7.80715942 17.1928406,8.19282529 17.1928406,8.66851807 C17.1926499,9.14421084 16.8071747,9.52987671 16.3314819,9.52987671 Z" id="Shape"></path>
                                                <path d="M12.5,0 C5.59749604,0 0,5.59749604 0,12.5 C0,19.402504 5.59749604,25 12.5,25 C19.402504,25 25,19.402504 25,12.5 C25,5.59749604 19.402504,0 12.5,0 Z M19.6344375,15.4592514 C19.5997238,16.2233353 19.4782257,16.7449951 19.3008423,17.2016144 C18.9279556,18.1657791 18.1657791,18.9279556 17.2016144,19.3008423 C16.7451858,19.4782257 16.2233353,19.5995331 15.4594421,19.6344375 C14.6940231,19.669342 14.449501,19.6777344 12.5001907,19.6777344 C10.5506897,19.6777344 10.3063583,19.669342 9.54074858,19.6344375 C8.77685547,19.5995331 8.25500488,19.4782257 7.79857637,19.3008423 C7.31945039,19.1205979 6.88571929,18.8381195 6.52713774,18.4728623 C6.16207124,18.1144714 5.87959287,17.6805496 5.69934844,17.2016144 C5.52196504,16.7451858 5.40046689,16.2233353 5.36575317,15.4594421 C5.33046724,14.6938324 5.32226563,14.4493103 5.32226563,12.5 C5.32226563,10.5506897 5.33046724,10.3061676 5.36556245,9.54074858 C5.40027617,8.77666475 5.52158354,8.25500488 5.69896699,7.79838564 C5.87921143,7.31945039 6.16188047,6.88552856 6.52713774,6.52713774 C6.88552856,6.16188047 7.31945039,5.87940215 7.79838564,5.69915771 C8.25500488,5.52177432 8.77666475,5.40046689 9.54074858,5.36556245 C10.3061676,5.33065796 10.5506897,5.32226563 12.5,5.32226563 C14.4493103,5.32226563 14.6938324,5.33065796 15.4592514,5.36575317 C16.2233353,5.40046689 16.7449951,5.52177432 17.2016144,5.69896699 C17.6805496,5.87921143 18.1144714,6.16188047 18.473053,6.52713774 C18.8381195,6.88571929 19.1207886,7.31945039 19.3008423,7.79838564 C19.4784165,8.25500488 19.5997238,8.77666475 19.6346283,9.54074858 C19.6695328,10.3061676 19.6777344,10.5506897 19.6777344,12.5 C19.6777344,14.4493103 19.6695328,14.6938324 19.6344375,15.4592514 L19.6344375,15.4592514 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse " id="navbarsExample04">
            <ul class="navbar-nav ml-auto d-none">

                <li class="nav-item <%= htmlWebpackPlugin.options.filename === 'index.html' ? 'active' : '' %>">
                    <a class="nav-link" href="index.html">Home
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about-us.html">About us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="datatable-demo.html">Datatables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="font-awesome.html">Font Awesome icon</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="collapse ib-menu d-none" id="navbarToggleExternalContent">
        <div class="ib-menu-item">
            <div class="ib-menu-list">
                <h5><span>About Me</span></h5>         
            </div>
            <div class="ib-menu-list">
                <h5><span>About Me</span></h5>             
            </div>
            <div class="ib-menu-list">
                <h5><span>About Me</span></h5>         
            </div>
        </div>
    </div>
</header>